<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/dist/css/default.css' />
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
        <p data-langtext>
            隠す。
            안녕하세요.
            おはようございます。
        </p>
        <p data-langtext>
            안녕하세요.2
        </p>
        <p data-langtext>
            안녕하세요.3
        </p>
        <p data-langtext>
            안녕하세요.4
        </p>
        <p data-langtext>
            안녕하세요.5
        </p>
        <p data-langtext>
            안녕하세요.6
        </p>
        <p data-langtext>
            안녕하세요.7
        </p>
        <p data-langtext>
            안녕하세요.8
        </p>
        <p data-langtext>
            안녕하세요.9
        </p>
        <p data-langtext>
            안녕하세요.10
        </p>
        <p data-langtext>
            안녕하세요.11
        </p>
        <p data-langtext>
            안녕하세요.12
        </p>
        <p data-langtext>
            안녕하세요.12
        </p>
        <p data-langtext>
            안녕하세요.13
        </p>
        <p data-langtext>
            안녕하세요.13
        </p>
        <p data-langtext>
            안녕하세요.13
        </p>
        <p data-langtext>
            안녕하세요.13
        </p>
        <p data-langtext>
            안녕하세요.13
        </p>

      <!--<p data-langtext>-->
          <!--저의 주 분야는 Web FrontEnd 입니다. <br> 대학에서 기본적인 c, c++, java, mysql, linux등을 배우고 독학으로 php, javascript, jquery, html, css등을 배웠습니다.-->
      <!--</p>-->
      <!--<p data-langtext>-->
          <!--한국의 대기업 신세계 I&C와 협업 계약을 통해 기업용 협업 솔루션, 채팅메신저를 개발하였습니다. <br> 이후 2년간 채팅 서비스를 유지, 보수해왔으며 한국의 육군과 스타벅스 코리아 등이 협업에 사용하고 있습니다.-->
      <!--</p><br>-->
      <!--<a href="https://www.grap.io/intro/files/GRAP_%EA%B0%80%EC%9D%B4%EB%93%9C%EB%B6%81.pdf" target="_blank" data-langtext>채팅 메신저 GRAP</a><br><br>-->
      <!--<p data-langtext>-->
          <!--자료는 한국어입니다만 16페이지부터 제가 개발한 채팅 메신저가 소개되고 있습니다.-->
      <!--</p><br>-->
      <!--<p data-langtext>-->
          <!--또, 개인적으로 포트폴리오 사이트라던가, 일본어 단어장등을 개발했습니다.<br> 프로젝트의 자세한 내용은 별도의 페이지에서 소개하겠습니다.-->
      <!--</p><br>-->
      <!--<p data-langtext>-->
          <!--Angularjs나 react, backbone등 최신 프레임워크에 흥미가 있어 최근에는 vue js를 공부하고 있습니다. javascript와 jquery도 프레임워크를 사용하지않고 싱글 페이지 어플리케이션으로 협업솔루션을 만들어본 경험이 있어 실력을 입증할 수 있습니다. <br> 만약 귀사가 사용하는 프레임워크가 있다면 열심히 배우겠습니다.-->
      <!--</p><br>-->
      <!--<p data-langtext>-->
          <!--*지금까지는 규모가 작은 회사에서 일하면서 독학으로 WEB 기술을 배웠습니다만, <br>앞으로는 함께 성장할 수 있는 개발문화가 있는 회사에 입사하고 싶습니다.-->
      <!--</p><br>-->
      <!--<p data-langtext>-->
          <!--잘 부탁드립니다.-->
      <!--</p>-->
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script src="/javascripts/translate.js"></script>
    <script>
        $(document).ready(function(){
            translateInit();
        });
  </script>
  </body>
</html>
